# Ignore environment files
*.env

# Ignore log files
*.log
logs/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor configs
.vscode/
.idea/

# Ignore lockfiles (if not using them intentionally in root)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore build and dependency folders
client/node_modules/
client/build/
client/dist/
client/.env

server/node_modules/
server/build/
server/dist/
server/.env
